@media (max-width: 380px) {
    .skill {
        margin: 0px;
    }
    .skill .text-center {
        display: none;
    }
    .skill .grid {
        width: 90%;
        margin-left: 0px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
        height: 100vh;
        overflow-y: auto;
    }
    .skill .grid .overflow-hidden{
        width: 100%;
        height: 200px;
        margin-left: 0px;
        grid-template-columns: 1fr 1fr;
    }
    
   
 }