.contact .form_contact .ant-input {
      background: #343539;
      padding: 16px;
      border-radius: 30px;
      color: aliceblue;
      font-size: 24px;
}
.contact .form_contact .ant-btn-primary {
      font-size: 20px;
      padding: 25px 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
}
.contact .form_contact .form_input {
      margin-bottom: 40px;
}
@media (max-width: 380px) {
   .contact .text-center {
      display: none;
   }
   .contact .grid {
      grid-template-columns: 1fr;
   }
   .contact .grid .bg-slate-300 {
      display: none;
   }
   .contact .form_contact .ant-input {
      padding: 10px;
      font-size: 18px;
   }
   .contact .form_contact .ant-btn-primary {
      width: 100%;
   }
}