@media (max-width: 380px) {
    .about {
        height: 100vh;
        overflow-y: auto;
    }
    .about .grid {
        grid-template-columns: 1fr;
        margin: 0;
        padding-left: 5px;
    }
    .about .grid .items {
        margin-top: 20px;
    }
    .about .grid .text-3xl{
        font-size: 20px;
    }
    .aboutItem {
        padding-left: 15px;
        font-size: 15px;
    }
}